.footer {
  min-height: 120px;
  line-height: 7px;
  text-align: center;
  font-size: 22px;
  padding: 45px;
  background: radial-gradient(
    circle,
    rgba(11, 10, 10, 9) 40%,
    rgba(99, 1, 1, 0.555) 100%,
    rgba(0, 0, 0, 0) 100%
  );
}
.content-copy__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title-copy {
  text-align: center;
  font-size: 26px;
  font-weight: 300;
}
.content-copy__footer a img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 480px) {
  .content-copy {
    flex-direction: column;
  }
  .title-copy {
    margin: 5px;
  }
}
