.footer {
  min-height: 120px;
  line-height: 7px;
  text-align: center;
  font-size: 22px;
  padding: 10px;
 
}
.content-copy__footer{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 30px;
}



.title-copy {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}
.content-copy__footer a img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding: 20px;
}




@media screen and (max-width: 480px) {
  .footer{
    padding: 5px;
  }
  .content-copy {
    flex-direction: column;
  }
  .title-copy{
   font-size: 1em;
  }
}
