.typewriter span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid black; /* Simula el cursor de la máquina de escribir */
  }
  
  .typewriter span:after {
    content: '|';
    animation: blink-caret .75s step-end infinite;
    color: #fa9484;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
  }

  @media (max-width: 780px) {
    .typewriter span {
       font-size: 25px;
      }
  }
  @media (max-width: 780px) {
    .typewriter span {
       font-size: 20px;
      }
  }