.content-main {
  margin: 0 auto;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.layout {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding-top: 145px;
  margin: 0 auto;
}
