.title-conocimientos{
    width: 100%;
    max-width: 600px;
    font-size: 80px;
    margin: auto;
    text-align: center;
    padding: 5px;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 80, 80);
}
.sub-title__conocimientos{
    position: relative;
    opacity: 0.04;
    font-size: 150px;
    top: -170px;
    right: 0;
    color: rgb(253, 214, 214);
    overflow: hidden;
}