.title-conocimientos{
    
}
.sub-title__conocimientos{
    position: relative;
    opacity: 0.04;
    font-size: 150px;
    top: -170px;
    right: 0;
    color: rgb(253, 214, 214);
    overflow: hidden;
}