/**Estilos Home- Principal**/

.home-welcome {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.container-home {
  width: 100%;
}
.container-home img {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  padding: 5px;
  margin: 0 auto;
  position: relative;
  border: solid 5px transparent;
}
.container-home figure {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  padding: 5px;
  margin: 0 auto;
  position: relative;
  border: 5px solid;
  border-radius: 50%;
  place-content: center;
  place-items: center;
  overflow: hidden;
}
.container-home figure::before {
  content: "";
  position: absolute;
  width: 150px;
  background-image: linear-gradient(360deg, rgb(241, 0, 0), rgb(255, 0, 0));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container-redes_inicio {
  display: block;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cv {
  max-width: 100px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  color: rgb(255, 0, 0);
  background-color: transparent;
  outline: 2px solid rgb(255, 80, 80);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 10px;
  position: relative;
  top: 0px;
  overflow: hidden;
  transition: color 1s;
}

.btn-cv:hover {
  color: #ffffff;
  z-index: 1;
}

.btn-cv::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 250%;
  height: 100%;
  background-color: rgba(255, 85, 85, 0.5);
  border: none;
  outline: 3px solid rgb(0, 0, 0);
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  z-index: -1;
  transition: transform 1s;
}

.btn-cv:hover::before {
  transform: scaleX(1) skewX(35deg);
}
.content-proyectos__inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.content-proyectos__inicio h2 {
  margin-bottom: 80px;
  font-size: 40px;
  text-align: center;
}
@media (max-width: 960px) {
  .home .title-welcome .title-custom {
    width: 100%;
  }
  .title-welcome span {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .title-welcome {
    margin-left: 20px;
  }
  .container-redes_inicio {
    padding: 5px;
    margin-left: 0px;
  }
}
@media (max-width: 480px) {
  .title-welcome {
    margin-left: 20px;
  }
  .container-redes_inicio {
    padding: 5px;
    margin-left: 0px;
  }
  .container-redes_inicio {
    flex-wrap: wrap;
  }
}

/**Estilos section Sobre mi**/
.section-me {
  padding: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}
.content-title {
  height: 200px;
  text-align: center;
}

.section-me .title-sobre__me {
  margin: 0;
  padding: 5px;
  font-size: 80px;
  color: rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 80, 80);
}
.section-me .sub-title {
  position: relative;
  opacity: 0.04;
  font-size: 150px;
  top: -170px;
  right: 0;
  color: rgb(253, 214, 214);
  overflow: hidden;
}
.container-me {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container-me article img {
  width: 25rem;
  height: 25rem;
  float: left;
  object-fit: cover;
  object-position: -20px -10px;
  shape-outside: circle(60%);
  margin: 0 auto;
}

.section-me article p {

  padding: 5px;
  font-size: 25px;
  letter-spacing: 1px;
}

.container-me .enlace-contacto {
  width: 300px;
  text-decoration: none;
  color: #fa9484;
  position: relative;
  display: grid;
  grid-column: span 2;
  padding: 15px;
  margin: 50px auto 50px;
  text-align: center;
  opacity: 1;
}

.enlace-contacto {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff40;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.enlace-contacto span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgb(252, 98, 98);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.enlace-contacto span:first-child {
  width: 100%;
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.enlace-contacto:hover {
  box-shadow: 0 0 0 5px #f3212160;
  color: #ffffff;
}

.enlace-contacto:active {
  scale: 0.95;
}

.enlace-contacto:hover span:last-child {
  width: 100%;
  height: 200px;
  opacity: 1;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: linear-gradient(#f70000, #757575);
  z-index: 2;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #d91c1c;
  border-radius: 50%;
}

.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #f5f5f5;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@media (max-width: 1280px) {
  .section-me div {
    display: block;
  }
}

@media (max-width: 780px) {
  .section-me {
    padding: 20px;
  }
  .section-me ul {
    text-align: center;
  }
  .section-me ul li span {
    font-size: 80px;
  }
  .section-me figure {
    max-width: 300px;
  }
  .section-me img {
    width: 300px;
    height: 300px;
  }
  .section-me .title-sobre__me {
    font-size: 45px;
  }
  .section-me .sub-title {
    font-size: 100px;
    top: -110px;
  }
}
@media (max-width: 480px) {
  .section-me .title-sobre__me {
    margin-top: 50px;
    font-size: 45px;
  }
  .section-me .sub-title {
    font-size: 80px;
    top: -100px;
  }
}

/**--Seccion motivos--**/

.article-section__motivos {
  width: 100%;
  padding: 50px;
  border-radius: 10px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.article-section__motivos h2 {
  grid-column: span 3;
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px;
}

.article-section__motivos article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
  height: 400px;
  background-color: #212121;
  border-radius: 30px 0px 30px 0px;
  padding: 10px;
  margin: 0 auto;
}

.article-section__motivos h3 {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.article-section__motivos p {
  line-height: 1.5;
  padding: 5px;
}
