/**--Mis Servicios--**/
.section-servicios {
  width: 100%;
  padding: 0;
  margin: 0;
 
  overflow: hidden;
}
.title-servicios {
  width: 100%;
  max-width: 600px;
  font-size: 80px;
  margin: auto;
  text-align: center;
  padding: 5px;
  color: rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 80, 80);
}
.sub-title__servicios {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  opacity: 0.04;
  font-size: 150px;
  top: -170px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}
.container-card_servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 25px;
}

.card {
  max-width: 600px;
  border-radius: 20px;
  margin: 20px auto;
  background-color: rgb(0, 0, 0);
  position: relative;
  padding: 1.8rem;
  border: 1px solid #c3c6ce;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.card-details {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  color: #fff;
  margin: 0 auto;
}
.card-details img {
  width: 200px;
  height: 100px;
object-fit: contain;
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
}

.text-title {
  font-size: 2.5em;
}
.text-body {
  grid-column: span 2;
  color: #fff;
  font-size: 1.3em;
  padding: 5px;
}

.card:hover {
  border-color: #fa9484;
  box-shadow: 0 4px 18px 0 rgba(250, 82, 82, 0.2);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  text-decoration: none;
  border-radius: 1rem;
  border: none;
  background-color: rgb(255, 80, 80);
  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
.card-button:hover {
  background-color: rgb(255, 255, 255);
  color: #fa9484;
  border: 1px solid rgb(255, 80, 80);
}
/**--- Estilos Scrol --- **/

.scroll-reveal-derecha {
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.scroll-reveal-derecha.visible {
  opacity: 1;
  transform: translateX(0);
}
.scroll-reveal-izquierda {
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.scroll-reveal-izquierda.visible {
  opacity: 1;
  transform: translateX(0);
}

/**--- Responsive Mis-Servivios**/

@media (max-width: 1380px) {
  .card {
    margin: 10px auto;
  }
  .container-card_servicios {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .card-details {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .card-details p {
    grid-column: span 1;
  }
  .title-servicios {
    font-size: 45px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 5px;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 80, 80);
  }
  .sub-title__servicios {
    font-size: 90px;
    top: -100px;
    color: rgb(253, 214, 214);
  }
}
@media (max-width: 480px) {
  .title-servicios {
    max-width: 300px;
  }
}
