/**--Mis Servicios--**/
.section-servicios {
  padding: 40px;
}
.title-servicios {
  font-size: 55px;
  margin: auto;
  text-align: center;
  padding: 25px;
}
.container-card_servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
}

.card {
  width: 90%;
  max-width: 900px;
  border-radius: 20px;
  margin: 20px;
  background-color: rgba(252, 136, 136, 0.1);
  position: relative;
  padding: 1.8rem;
  border: 1px solid #c3c6ce;
  transition: 0.5s ease-out;
  margin: 10px auto;
}

.card-details {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  color: #fff;
  margin: 0 auto;
}
.card-details img {
  width: 200px;
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
}

.text-title {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
}
.text-body {
  grid-column: span 2;
  color: #fff;
  font-size: 1.2rem;
}

.card:hover {
  border-color: #fa9484;
  box-shadow: 0 4px 18px 0 rgba(250, 82, 82, 0.2);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  text-decoration: none;
  border-radius: 1rem;
  border: none;
  background-color: rgb(255, 80, 80);
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

/**--- Responsive Mis-Servivios**/

@media (max-width: 1380px) {
  .container-card_servicios {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .card-details {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .card-details p {
    grid-column: span 1;
  }
}
